<div class="message-form-block">
  <mat-card>
    <mat-card-content>
      <mat-card-title style="padding: 20px 0 20px 0;">Say something!</mat-card-title>
      <form class="form" (ngSubmit)="onSubmit()" #form="ngForm">
        <div fxLayout="column">
          <mat-form-field appearance="fill">
            <mat-label>Author</mat-label>
            <input type="text" matInput name="author" ngModel>
            <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Message</mat-label>
            <input type="text" matInput name="message" ngModel>
            <mat-icon matSuffix color="primary">message</mat-icon>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" style="margin-left: auto; display: block;">Send</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
